@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
    }
}

a:hover{
    @apply text-primary
}

.animate, a, a:hover{
    transition: all 0.2s ease-in-out;
}